<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "In A Nutshell" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/in-a-nutshell-logo-transparent-square-32x32.png" type="image/png">

    <%= stylesheet_pack_tag "react-app" %>
    <%= javascript_pack_tag "react-app" %>

  </head>

  <body>
    <div class="site-bg">
      <% if notice.present? || alert.present? %>
        <% type_class = notice.present? ? "notice" : "alert" %>
        <input type="checkbox" class="alertCheckbox" id="alertToggle" />

        <div class="flash-message  <%= type_class %>">
          <% if notice.present? %>
            <p class="notice-message"><%= notice %></p>
          <% end %>
          <% if alert.present? %>
            <p class="alert-message"><%= alert %></p>
          <% end %>
          <label for="alertToggle" class="alertClose">X</label>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
